:root{
  --primary-color : #fbffff ;
  --accent-color : #80FF72 ;
  --secondary-color:#202427;
}
body{
  background: url('../img/small.jpg') ;
}
.main-header{
  color: var(--primary-color);
  text-align: center;
  font-family: 'Big Shoulders Inline Text', cursive;
  margin-top: 6rem;
  font-size: 2.5rem;
}
.search-box{
  margin:5rem 0 5rem;


}
.search-box__input,.results-container{
  display: block;
  margin: auto;
  width: 80%;
  padding: 1rem;
  background: var(--primary-color);
}
.results-container{
  max-height: 140px;
  overflow-y: auto;
  display: none;
  text-align: center;
  font-family: 'Roboto',sans-serif;
}
.show{
  display: block;
}
.result{
  padding: 0.5rem;
  width: 100%;
  cursor: pointer;
  border-bottom: 0.15rem solid var(--secondary-color);

}
.result:hover{
  background: rgb(190, 181, 181);
}
/* summary section */
.summary{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.summary>article{
  width: 60%;
  background: var(--primary-color);
  margin-bottom: 2rem;
  padding: 1rem;
  text-align: center;
  border-radius: 10%/5% ;
  box-shadow: 4px 4px 4px var(--secondary-color);
}
.summary--blur{
  opacity: 0.8;
}
.summary__region{
  color: var(--primary-color);
  padding: 1.5rem;
  border-bottom: 3px solid var(--primary-color) ;
  text-transform: uppercase;
}
.summary__key{
  text-transform: uppercase;
}
.summary__value{
  font-weight: 600;
  font-size: 1.5rem;

}
.summary__value--red{
  color: red;
}
.summary__value--green{
  color: var(--accent-color);
}
@media only screen and (min-width:970px){
  .main-header{
    font-size: 3.5rem;
  }
  .search-box__input,.results-container{
    width: 50%;
  }

  body{
    background: url('../img/medium.jpg');
  }
  .summary{
    width: 60%;
    flex-flow:row nowrap;
    justify-content: space-between;
    margin:6rem auto;
  }
  .summary>article{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    
  }
  .summary__value{
    justify-self: center;    
  }
}